<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <img src="https://cdn-icons-png.flaticon.com/512/9798/9798063.png" class="iconeHeader">
        <span class="fs-4">Xilften</span>
      </a>
      <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="btn btn-outline-light me-2">Home</a></li>
        <li><a routerLink="" class="btn btn-outline-light me-2">Filmes</a></li>
        <li><a routerLink="" class="btn btn-outline-light me-2">Séries</a></li>
      </ul>

      <div class="text-end">
        <button routerLink="login" type="button" class="btn btn-outline-light me-2">Login</button>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
